body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.fl-1 {
    flex: 1;
}

.fl-2 {
    flex: 2;
}

.header {
    color:white;
    height: 80px;
    background-color: black;
    padding: 10px 20px;
    align-items: center;
}

.header-logo {
    width: 200px;
    height: 100%;
    text-align: center;
}

.header-logo img {
    width: 200px;
    height: 100%;
    margin: 0 auto;

}

.header-nav {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header-nav p {
    text-align: center;
    color: white;
    margin: 0 30px;
    font-size: 18px;
    
}

a:link {
  color: white;
  text-decoration: none;
} 
a:visited {
  color: white;
}
a:hover {
  text-decoration: none;
}
a.btn.cart.px-auto{
    color: black;
}


a.header-buttons {
    text-align: center;
    color: white;
}

.btn {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 15px;
    cursor: pointer;
    
}

.btn.alt {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 3px 15px;
    margin-left: 15px;
}

a.btn.alt{
    color:white;
}

.profile-img{
    
    width: 427px;
    height: 374px;

   
    
    background: #C4C4C4;
    border-radius: 20px;
    }

    .new{
width: 208px;
height: 41px;

margin-top:10px;
background: #C4C4C4;
border-radius: 30px;
    }
    .right-form{
    
      float:right;
     
    
        }

       .inputFields{
      
width: 411px;
height: 47px;



border: 1px solid #000000;
box-sizing: border-box;
border-radius: 30px;
       }


       .ordershead{
    display: block;
    margin-left: 25%;
     }

     .searchBtn{

        width: 131px;
height: 53px;


background: #C4C4C4;
border-radius: 30px;
     }

     table{
        font-size: 26px;
     }
     label{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
     }

     .ordershead h1{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 96px;
        line-height: 112px;
        margin-left :20%
     }

     .cart {
        background-color: #fff;
        color: black;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 900;
        width: 40%;
        height: 39px;
        padding-top: 9px;
        box-shadow: 0px 5px 10px #212121
    }
    .imgHolder {
        position: relative;
    }
    .imgHolder span {
        position: absolute;
        right: 10px;
        bottom: 10px;

        width: 112px;
height: 33px;

background: #FFFFFF;
border-radius: 40px;

display: flex;
justify-content: center;
align-items: center;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

      .homerow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }
      
      .homecolumn {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
      }