#yellow_button{
position: absolute;
width: 220px;
height: 60px;
left: 280px;
top:280px;

background: #C4BC06;
border-radius: 20px;

font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 59px;

color: #FFFFFF;
}

#yellow_button1{
position: absolute;
width: 220px;
height: 60px;
left: 280px;
top:280px;

background: #C4BC06;
border-radius: 20px;

font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 59px;

color: #FFFFFF;
}

#blue_button{
position: absolute;
width: 220px;
height: 60px;
left: 525px;
top: 425px;

background: #063BC4;
border-radius: 20px;
font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 59px;

color: #FFFFFF;
}

#blue_button1{
position: absolute;
width: 220px;
height: 60px;
left: 525px;
top: 500px;

background: #063BC4;
border-radius: 20px;
font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 59px;

color: #FFFFFF;
}

.circle2 img {
  border-radius: 70%;
}

.circle2 {
position: absolute;

  height: 140px;
  width: 140px;
  left: 320px;
  top:120px;
  
}

.circle img {
  border-radius: 70%;
}
.circle  {
position: absolute;
  height: 140px;
  width: 140px;
  left: -290px;
  top:-190px;

}


#Hello{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 100;
font-size: 30px;
line-height: 20px;
text-decoration:underline;
line-height: 70px;
color: #000000;

position: absolute;
width: 543px;
height: 62px;
left: 600px;
top: 120px;
}

#Name{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 100;
font-size: 30px;
line-height: 20px;
border-bottom: 5px solid;
border-bottom-width: thin;
line-height: 70px;
color: #000000;

position: absolute;
width: 543px;
height: 62px;
left: 10px;
top: 120px;
}

#Phone{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 100;
font-size: 30px;
line-height: 20px;
border-bottom: 5px solid;
border-bottom-width: thin;
line-height: 70px;
color: #000000;

position: absolute;
width: 543px;
height: 62px;
left: 0px;
top: 80px;
}

#Password{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 100;
font-size: 30px;
line-height: 20px;
border-bottom: 5px solid;
border-bottom-width: thin;
line-height: 70px;
color: #000000;

position: absolute;
width: 543px;
height: 62px;
left: 0px;
top: 80px;
}

#User1{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 59px;

color: #000000;


position: absolute;
width: 517px;
height: 73px;
left: 750px;
top: 100px;

}

#box1{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 59px;

 border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  width: 150px;
  height: 0px;

position: absolute;
width: 200px;
height: 0px;
left: 730px;
top: 150px;

}


#number{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 59px;

color: #000000;


position: absolute;
width: 517px;
height: 73px;
left: 750px;
top: 200px;

}


#box2{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 59px;

 border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  width: 150px;
  height: 0px;

position: absolute;
width: 200px;
height: 0px;
left: 730px;
top: 250px;

}


#user123{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 59px;

color: #000000;


position: absolute;
width: 517px;
height: 73px;
left: 750px;
top: 300px;

}


#box3{

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 59px;

 border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  width: 150px;
  height: 0px;

position: absolute;
width: 200px;
height: 0px;
left: 730px;
top: 350px;

}

#shipping{

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 20px;
text-decoration:underline;
line-height: 600px;
color: #000000;

position: absolute;
width: 543px;
height: 62px;
left: 80px;
top: -100px;

}


#radio{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 100;
line-height: 30px;
color: #000000;

position: absolute;
width: 543px;
height: 62px;
left: 100px;
top: 230px;
}
