*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.top-banner{
    width:100%;
    height:500px;
    background-color: #000;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.top-banner p{
width: 90%;
text-align: center;
max-width: 400px;
}

.main-body{
    background-color: #fff;
    color:black;
    padding:40px 15%;
}

.heading {
    display: table;
    border-bottom: 2px solid #000;
}

.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}

.menu-items{
    width:100%
}

.menu-items .item{
    flex-grow:1;    
    padding: 20px;
    width: min(100%, 300px);
    min-height: 300px;
}

.menu-items .item .image-container{
    width:100%;
    height:250px;
    background-color: #000;
}

.menu-items .item .image-container img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
}


.box-wrapper{
    width:100%;
    max-width: 1000px;
}

.box-wrapper .item{
    flex:1;
    height:500px;
}
.box-wrapper .item.right{
    background-image: url(../../images/pizza.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-wrapper .item.left form{
    padding:50px;
}
.box-wrapper .item.left form input{
    border:0;
    border-bottom:2px solid darkgray;
    margin:5px;
    font-size:20px;
    width:100%;
    padding:5px;
}

.box-wrapper .item.left form input[type="submit"]{
    background:rgb(16, 138, 42);
    color:white;
    display: inline-block;
    width:inherit;
    border:0;
    border-radius:5px;
}

.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}

.h-100{
    height: 100%;
}

.relative{
    position: relative;
}

.box-wrapper .or-sep{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:40px;
    height:40px;
    background:#eee;
    border-radius: 50%;
    z-index: 999;
    font-size:20px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.box-wrapper .or-sep::before{
    content:"OR";
}
